@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root {
   --yellow: #fed330;
   --red: #e74c3c;
   --white: #fff;
   --black: #222;
   --light-color: #777;
   --border: .2rem solid var(--yellow);
}

* {
   background-color: var(--black);
   font-family: 'Rubik', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   transition: .2s linear;
}

*::selection {
   background-color: var(--yellow);
   color: var(--black);
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 8rem;
}

::-webkit-scrollbar {
   height: .5rem;
   width: 1rem;
}

::-webkit-scrollbar-track {
   background-color: transparent;
}

::-webkit-scrollbar-thumb {
   background-color: var(--yellow);
   border-radius: 5rem;
}

.btn {
   background-color: var(--yellow);
   color: var(--black);
}

.delete-btn:hover,
.btn:hover {
   letter-spacing: .2rem;
}

.title {
   background-color: var(--yellow);
   text-align: center;
   margin-bottom: 3rem;
   font-size: 4rem;
   color: var(--black);
   text-transform: uppercase;
   text-decoration: underline;
   text-underline-offset: 1rem;
}

.heading {
   background-color: var(--black);
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   flex-flow: column;
   min-height: 20rem;
}

.heading h3 {
   font-size: 4rem;
   color: var(--white);
   text-transform: capitalize;
}

.header {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--yellow);
   padding: 1rem 0;
   position: sticky;
   top: 0;
   z-index: 1000;
   width: 100%;
}

.header .logo {
   font-size: 2.5rem;
   color: var(--black);
   text-transform: uppercase;
   font-weight: 500;
   text-decoration: none; 
   background-color: var(--yellow);
}

.products .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 1.5rem;
   justify-items: center;
}

.products .box-container .box {
   position: relative;
   border: var(--border);
   padding: 2rem;
   overflow: hidden;
   background-color: var(--black);
   transition: transform .3s ease;
}


.products .box-container .box img {
   height: 25rem;
   width: 100%;
   object-fit: contain;
   margin-bottom: 1rem;
}

.products .box-container .box .cat {
   font-size: 1.7rem;
   color: var(--yellow);
}

.products .box-container .box .name {
   font-size: 2rem;
   margin: 1rem 0;
   color: var(--white);
}

.products .box-container .box .price {
   font-size: 2rem;
   color: var(--white);
}





.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
   margin-top: 15rem;
}

.footer .box-container .box{
   text-align: center;
   padding:2rem;
   border:var(--border);
}

.footer .box-container .box img{
   height: 10rem;
   margin-bottom: 1rem;
}

.footer .box-container .box h3{
   margin:1rem 0;
   font-size: 2rem;
   color:var(--black);
}

.footer .box-container .box a,
.footer .box-container .box p{
   line-height: 2;
   font-size: 1.5rem;
   color:var(--light-color);
   display: block;
}





@media (max-width: 991px) {
   html {
      font-size: 55%;
   }
}

@media (max-width: 768px) {
   .header .logo {
      font-size: 2.2rem;
   }

   .products .box-container {
      grid-template-columns: 1fr 1fr;
   }

   .footer .box-container {
      grid-template-columns: 1fr;
   }
}

@media (max-width: 450px) {
   html {
      font-size: 50%;
   }

   .products .box-container {
      grid-template-columns: 1fr;
   }

   .footer .box-container {
      grid-template-columns: 1fr;
   }
}
